---
title: CSS
---

body {
  background: url('{{ "/assets/img/greyzz.png" | prepend: site.baseurl }}');
}

#site-header {
  background: #037ABC;
  border-top: none;
  padding: 25px 0 25px 0;
  margin-bottom: 25px;
}

#site-logo {
  height: 50%;
  width: 50%;
}

#site-title {
  margin: 30px 0 30px 0;
}

#header-container {
  padding-right: 0;
  padding-left: 0;
  color: #FFF;
}

#client-img {
  height: 100%;
  width: 100%;
}